*, 
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --dark-color: brown;
    --medium-color: hsl(28, 28%, 65%);
    --light-color: hsl(25, 38%, 91%);
    --lighter-color:  hsl(20, 29%, 97%);
    --invalid-form-color: rgb(252, 106, 106);

    --basic-font-size: 16px;
    --highlight-font: 'Playfair Display', serif;
    --basic-font: 'Outfit', sans-serif;  
 
    font-size: var(--basic-font-size);
    font-family: var(--basic-font);  
    line-height: 1.5;
}

main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 50%));
    /* Die areas überschreiben die columns. 
    Eines von beiden ist überflüssig. */
    grid-template-areas: 
            "picture1 text1"
            "text2 text2"
            "gallery gallery"
            "picture2 text3"
            "text4 text4"
            "table table";
    justify-content: space-between;
}

/* Navigation */

header{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    min-width: 20em;
    margin: auto;
    background: var(--light-color);
}

nav ul{
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin: 1.5em;
}

nav a{
    font-weight: 250; 
    text-decoration: none;
    color: var(--dark-color);  
    border-top: 1px solid var(--dark-color);
    padding: 1em 3em;
}

nav a:hover, nav a.active-page{
    cursor: pointer;
    border-top: 4px solid var(--dark-color);
} 

h1{
    font-family: var(--highlight-font);    
    font-size: 1rem;
    font-weight: 250; 
    text-transform: uppercase;
    text-align: center; 
    letter-spacing: 0.6rem;
    color: var(--dark-grey);  
    padding: 1.7em 3em;
    margin-right: auto;
}

h1 span{
    font-family: var(--basic-font);
    font-size: 0.8rem;
    letter-spacing: 0.5rem;
    display: block;
}

/* Allgemein */

h2{
    font-family: var(--highlight-font);
    font-size: 2.2rem;
    font-weight: 100;
}

p{
    font-size: 1rem;
    font-weight: 300;
    max-width: 100%;
}

p span{
    font-weight: 600;
    color: var(--dark-color);
}

footer{
    font-family: var(--highlight-font);
    text-align: center;
    max-width: 100%;
    position: relative;
    background-color: var(--light-color);
    margin-top: 7em;
    padding: 3em;
}

/* Grid-Elemente */

.gridTopRow{
    padding: 10em 15% 15% 15%;
}

.gridElement{
    padding: 5% 15%;
}

#intro{
    grid-area: picture1;
}

#allAboutme{
    grid-area: text1;
    background: var(--medium-color);
    position: relative;
}

#allAboutmeTxt{
    padding: 2em 4em;
    margin-bottom: 5em;
    background-color: var(--light-color);
    /* Die folgende Positionierung ist sehr spezifisch. 
    Das wird nicht in jedem viewport passen. Vermeiden Sie so etwas. */
    position: relative;
    right: 10em;
    animation: slideLversetzt 2s cubic-bezier(0.075, 0.82, 0.165, 1) 0s 1;
} 

#aboutMeDetails{
    grid-area: text2;
    background-color: var(--light-color);
    padding: 5% 20%;
    margin-top: 8em;
}

#galleryArticle{
    grid-area: gallery;
}

#languagesIntroTxt{
    grid-area: text3;
    margin: auto;
}

#languagesDetails{
    grid-area: text4;
    margin-top: 4em;
    padding: 0% 20%;
}

[title=pt9], [title=pt11]{
    grid-area: picture1;
}

[title="pt18"]{
    grid-area: picture2;
    margin: 3em 0;
}

/* Text-Besonderheiten innerhalb von Grid-Elementen */

.gridTopRow p, .gridElement p{
    margin: 1.5em auto;
}

#galleryArticle p{
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: var(--dark-color);
    margin: 0;
    padding: 1em;
}

#intro p{
    text-align: right;
}

#allAboutmeTxt h2{
    font-style: italic;
}

/* Bilder und Gallerie */

img{
    max-width: 100%;
}

#galleryContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center; 
    gap: 1em;
    padding: 2em 0;
}

.gallery{
    object-fit: cover;
    height: 18em;
    width: 12em; 
}

#buttonR{
    font-family: 'Poppins';
    font-weight: 200;
    cursor: pointer;
}

#buttonR:hover{
    color: var(--medium-color);
}

/* Formular */

form{
    grid-area: text1;
    background-color: var(--lighter-color);
}

form h2{
    text-transform: uppercase;
    background: var(--medium-color);
    margin-bottom: 2em; 
    padding: 1em 1.3em;
}

input, select, textarea, label, .invalid{
    display: block;
    outline: none;
    margin: 0.5em 0.5em 0em 0.5em;
    padding: 0.5em 1em;
}

textarea{
    width: 100%;
}

label{
    font-size: 0.9em;
    margin-top: 0;
    padding-bottom: 2em;
}

input:first-of-type{
    margin-top: 2em;
}

[type=reset], [type=submit]{
    display: inline;
    margin-right: 1.5em;
    padding: 0.7em 1.4em;
}

[type=reset]:hover, [type=reset]:focus, [type=submit]:hover, [type=submit]:focus{
    background-color: var(--medium-color);
}

input:invalid{
	border: 1px solid var(--invalid-form-color);
}

.invalid{
    color: var(--invalid-form-color);
    margin: 0 !important;
}

/* Tabelle */

table{
    grid-area: table;
    border-spacing: 0;
    overflow: auto;
    padding: 0% 20%;
    margin-top: 3em;
}

td{
    box-sizing: border-box;
    width: 20%;
    padding: 1.2em 1.5em;
}

th{
    background-color: var(--medium-color);
    text-align: left;
}

th, td:first-of-type{
    font-weight: 600;
    text-transform: uppercase;
    padding: 1.2em 1.5em;
}

tr:nth-child(even){
    background-color: var(--lighter-color);
}

tr:nth-child(odd){
    background-color: var(--light-color);
}

/* Animation */ 

.showSlideR{
    position: relative;
    animation: slideR 4s cubic-bezier(0.075, 0.82, 0.165, 1) 0s 1;
}

.showSlideL{
    position: relative;
    animation: slideL 4s cubic-bezier(0.075, 0.82, 0.165, 1) 0s 1;
} 

@keyframes slideR{
    from{ left: -6vw; }
    to{ left: 0; }
}

@keyframes slideL{
    from{ left: 6vw; }
    to{ left: 0; }
}

/* nur für #allAboutmeTxt; wird der Einfachheit halber direkt 
dem Selektor in style.css hinzugefügt 
und nicht in main-script.js über ein Klasse */
@keyframes slideLversetzt{
    from{ left: 0; }
    to{ left: -10em; }
}

@media (max-width: 800px){
    main{
        /* grid-template-columns: 1fr;
        grid-template-areas:
                "picture1"
                "text1"
                "text2"
                "gallery"
                "text3"
                "picture2"
                "text4"
                "table"; */

        /* Das geht viel kürzer mit der folgenden Anweisung. */
        display: block;
    }

    h1{
        margin: auto;
    }

    header{
        position: static;
    }

    #intro p{
        text-align: left;
    }

    #allAboutmeTxt{
        right: 0;
        animation: none; 
    }

    table, .gridElement, .gridTopRow, #aboutMeDetails, #allAboutme, #allAboutmeTxt, #languagesDetails{
        padding: 10%;
        margin-top: 0;
    }

    /* Tabelle */ 

    th{
        display: none;
    }

    tr{
        display: block;
    }

    td{
        display: grid;
        grid-template-columns: 4fr 6fr;
        grid-template-areas: "description value";
        align-items: center;
        width: 100%;
    }

    /* Beschreibungen links für table cells */ 
    td::before{
        font-size: 0.6rem;
        grid-area: description;
        content: attr(data-label);
        text-transform: uppercase;
    }
    
    td:nth-child(even){
        background-color: var(--lighter-color);
    }
    
    td:nth-child(odd){
        background-color: var(--light-color);
    }

    /* statt th wird der Name der Lern-Ressource, 
    also der erste td in jeder tr, die neue Überschrift */
    td:first-of-type{
        display: block;
        background-color: var(--medium-color);
        text-align: center;
        margin-top: 1em;
    }

    /* unnötige Beschreibung "Kurs" für diese 
    Überschriften entfernen */
    td:first-of-type::before{
        content: none;
    }
}
